*,
*:before,
*:after {
  box-sizing: inherit;
}
.style {
  position: relative;
  margin: 0;
  padding-bottom: 18rem;
  min-height: 100%;
  
}
    footer.nb-footer{
	position:absolute;
	bottom:0;
	width:100%;
background: #222;
border-top: 3px solid #0683c9;
}

footer.nb-footer .about {

margin: 0 auto;

margin-top: 10px;

max-width: 1170px;

text-align: center;
}

footer.nb-footer .about p {

font-size: 15px;

color: #999;

margin-top: 30px;
}

footer.nb-footer .about .social-media {

margin-top: 15px; 
}

footer.nb-footer .about .social-media ul li a {

display: inline-block;

width: 45px;

height: 45px;

line-height: 45px;

border-radius: 50%;

font-size: 16px;

color: #999;

border: 1px solid rgba(255, 255, 255, 0.3);
}

footer.nb-footer .about .social-media ul li a:hover {

background: #0683c9;

color: #fff;

border-color: white;
}
* {
  box-sizing: border-box;
}