<!Doctype html>
<html lang="en">
<head>
  <title>Grepskill</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<style>
  @media screen and (min-width:720px) {
.h{
  margin-left:30%;
}

  }
@media screen and (max-width:700px) {
.h{
  margin-left:40%;
}}
@media screen and (min-width:700px) {
.s{
width:80%; 
margin-left:15%;
}
}


@media screen and (max-width:700px) {
.s{
width:80%; 
margin-left:10%;
}
}


</style>
</head>
<body>

    <header>
        <div class="clearfix">
                            <% if(!currentUser) { %>
              
                  <h1 id="logo">
                  <a href="/api/home" style="color: white";> GREPSKILL</a>
                  </h1>
                  <% }
      
                      else
                      { %>

                        <% if(currentUser.university_id.length === 9) 
                        
                        { %>
                          <h1 id="logo">
                          <a href="/api/student_home" style="color: white";> GREPSKILL</a>
                          </h1>
                        <% }

                      else { %>
                        <h1 id="logo">
                    <a href="/api/teacherhome" style="color: white";> GREPSKILL</a>
                 </h1>
                    
                      
                            <% } %>
                          <% } %>
            <nav>

              <% if(!currentUser) { %>
            <button type="button" class="btn btn-link  btn-lg" style="color: white;" data-toggle="modal" data-target="#myModal2">Sign up </button>
            <button type="button" class="btn btn-link  btn-lg" style="color: white;" class="nav navbar-nav navbar-right" data-toggle="modal" data-target="#myModal">Login </button>
                <% } else { %>
                  <% if(currentUser.university_id.length === 9) { %>
                             
                    <button class="btn btn-link  btn-lg" style="color: white;" onclick="window.location='/api/studentlogout'" type="button">logout</button>
                   
                    <% } else { %>
                      <button class="btn btn-link  btn-lg" style="color: white;"onclick="window.location='/api/studentlogout'" type="button">logout</button>
                  
                      <% } %>
                    <% } %>
                    
                  
                </nav>
              </div>
    </header>
                
                     
<!-- Modal Signup -->
   <div class="container">
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">

        <div class="modal-header" style="background-color:#0683c9; color:#fff;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Signup</h4>
        </div>
        <br><br>

        <div class="modal-body,input-group input-group-lg">
            
                     <form class="form-horizontal" role="form" id="signupForm1" method="post" action="/app/signup">                     
                      <div class="form-group">
                          <div class="col-sm-10">
                            <div class="s">
                            <input type="text" class="form-control" id="university_id" name="university_id" placeholder="University Id" />
                            </div>
                          </div>
                        </div> 
                      
                      <div class="form-group">
                          <div class="col-sm-10">
                              <div class="s">
                            <input type="email" class="form-control" id="email_id" name="email_id" placeholder="Email" />
                          </div>
                        </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-10">
                              <div class="s">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
                          </div>
                        </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <div class="s">
                              <input type="password" class="form-control" id="confirm_password" name="" placeholder="Confirm password" />
                            </div>
                          </div>
                          </div>
                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10" >
                            <div class = "h">
                            <button type="submit"  class="btn btn-primary"  >Sign in</button>
                          </div>
                          </div>
                        </div>
                      </form>


 </div>
</div>
</div>
</div>
</div>
	
	                               <!-- Modal Login-->                        
                  
<div class="container">    
                    
           <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
             <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                              <div class="modal-header" style="background-color:#0683c9; color:#fff;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Login</h4>
                              </div>
                            
							<div class="modal-body,input-group input-group-lg">
                              <br><br>
                    
                              <form method="post" action = "/app/signin">
                                <input type="text" name="university_id" id ="login_id" class="form-control" placeholder="Username" style="width:80%; margin-left:10%"  aria-describedby="sizing-addon1"  required>
                                <br><br>
                                <input type="password" name="password" id ="login_pass" class="form-control" placeholder="Password" style="width:80%; margin-left:10%" aria-describedby="sizing-addon1" required>
                                <br><br>
                          
                                <input type="submit" style="margin-left: 43%" id ="login_btn" class="btn btn-default center-block,btn btn-primary" name="" value="Login">    
                                <br><br>
                                
                            <a href="#myModal2" data-toggle="modal"  data-dismiss="modal" class="pull-left"><align="right" margin>&nbsp&nbspDon't have an account</a>
                            <a href="#" class="pull-right"><align="right" margin>Forget Username/Password?&nbsp&nbsp</a>
                        <br><br>
						
                       </form>
					 </div>
             </div>
          </div>
        </div>

   </div> 
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
 
</body>
</html>