<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Resume</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel ="stylesheet" href="/static/styles/resume/style.css">
<link rel="stylesheet" href="/static/styles/home/header.css">  
   </head>
<body>
    <div class="wrapper">
        <% include header.html %>
        <div class="main">
</div>
<div class="container">
<div class="resume">


    <% if(currentUser.university_id.length===9) { %>
    <button class="btn btn-primary btn-lg" style="float: right;" onclick="location.href='/app/update/<%=currentdetails.university_id%>'" type="button">
    Update Profile</button>
    </button>
    <% } %>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading resume-heading">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-xs-12 col-sm-4">
              <figure>
                <img class="img-responsive" style="height:150px; width: 150px; border-radius: 50%;" alt="" src="/<%= photodetails.photo%>">
              </figure>
            </div>
                <!-- <h1 class="page-title">Resume of <%= perdetails5.name%></h1> -->
                <% if(perdetails16!==undefined )
                {%>
                <small> <i class="fa fa-clock-o"></i> Last Updated on: <time> <%= perdetails16.creation_timestamp%></time></small>
                <% } else { %>
                  <p> font size="+33">no updation yet</p>
                  <% } %>
          
            <div class="col-xs-12 col-sm-8">
              
                  <% if(perdetails5!==undefined )
                  {%>
                <class="list-group-item"><i class="fa fa-user"><%= perdetails5.name%></i>
                <% } else { %>
                  <h1 class="display-1">name</h1>
                  <% } %>
                <% if(perdetails10!==undefined )
    {%>
                 <class="list-group-item"><i class="fa fa-info"></i><%= perdetails10.university_id%>
                <% } else { %>
                  <h5 class="display-1">university Id</h5>
                  <% } %>
                <% if(perdetails6!==undefined )
                {%>
                <class="list-group-item"><i class="fa fa-phone"></i><%= perdetails6.phone%>
                <% } else { %>
                  <h5 class="display-1">phone number</h5>
                  <% } %>
                <% if(perdetails7!==undefined )
    {%>
                <class="list-group-item"><i class="fa fa-envelope"></i><%= perdetails7.email_id%>
                <% } else { %>
                  <h5 class="display-1">email-id</h5>
                  <% } %>
            </div>
          </div>
        </div>
      </div>
        <div class="bs-callout bs-callout-danger">
        <h4>Education</h4>
        <table class="table table-striped table-responsive ">
          <thead>
            <tr><th>Degree</th>
            <th>Graduation Year</th>
            <th>%Age</th>
            <th>Board</th>
          </tr></thead>
          <tbody>
          
              <% if(perdetails21!==undefined || perdetails8!==undefined || perdetails20!==undefined  )
              {%>
             
            <tr>
                <td>PHD</td>
                <% if(perdetails21!==undefined )
                {%>
                <td><%= perdetails21.passing_year%></td>
                <% } else { %>
                  <td><h5 class="display-1">year</h5></td>
                  <% } %>
                <% if(perdetails8!==undefined )
                {%>
                <td> <%= perdetails8.percentage%>% </td>
                <% } else { %>
                  <td><h5 class="display-1">percentage</h5></td>
                  <% } %>
                <% if(perdetails20!==undefined )
                {%>
                <td><%= perdetails20.board%></td>
                <% } else { %>
                  <td><h5 class="display-1">board</h5></td>
                  <% } %>
              </tr>
              <% } %>
              
              <% if(perdetails17!==undefined || perdetails2!==undefined || perdetails19!==undefined  )
              {%>
        
              <tr>

             <td>Post-Graduation</td>
              <% if(perdetails17!==undefined )
              {%>
              <td><%= perdetails17.passing_year%></td>
              <% } else { %>
               <td> <h5 class="display-1">year</h5></td>
                <% } %>
              <% if(perdetails2!==undefined )
              {%>
              <td> <%= perdetails2.percentage%>% </td>
              <% } else { %>
                <td><h5 class="display-1">percentage</h5></td>
                <% } %>
              <% if(perdetails19!==undefined )
              {%>
              <td><%= perdetails19.board%></td>
              <% } else { %>
                <td><h5 class="display-1">board</h5></td>
                <% } %>
            </tr>
            <% } %>
 
            <% if(perdetails14!==undefined || perdetails1!==undefined || perdetails9!==undefined  )
            {%>
          
            <tr>  
              <td>Graduation</td>
              <% if(perdetails14!==undefined )
              {%>
              <td><%= perdetails14.passing_year%></td>
              <% } else { %>
                <td><h5 class="display-1">year</h5></td>
                <% } %>
              <% if(perdetails1!==undefined )
               {%>
              <td> <%= perdetails1.percentage%>% </td>
              <% } else { %>
                <td><h5 class="display-1">percentage</h5></td>
                <% } %>
              <% if(perdetails9!==undefined )
              {%>
              <td><%= perdetails9.board%></td>
              <% } else { %>
                <td><h5 class="display-1">board</h5></td>
                <% } %>
            </tr>
            <% } %>
            <% if(perdetails13!==undefined || perdetails11!==undefined || perdetails4!==undefined  )
            {%>

            <tr>
              <td>12th</td>
              <% if(perdetails13!==undefined )
               {%>
              <td><%= perdetails13.passing_year%></td>
              <% } else { %>
                <td><h5 class="display-1">year</h5></td>
                <% } %>
              <% if(perdetails11!==undefined )
              {%>
              <td> <%= perdetails11.percentage%>%  </td>
              <% } else { %>
               <td><h5 class="display-1">percentage</h5></td>
                <% } %>
              <% if(perdetails4!==undefined )
              {%>
              <td><%= perdetails4.board%></td>
              <% } else { %>
                <td><h5 class="display-1">Board</h5></td>
                <% } %>
            </tr>
            <% } %>

            <% if(perdetails12!==undefined || perdetails!==undefined || perdetails3!==undefined  )
            {%>

            <tr>
              <td>10th</td>
              <% if(perdetails12!==undefined )
              {%>
              <td><%= perdetails12.passing_year%></td>
              <% } else { %>
                <td><h5 class="display-1">year</h5></td>
                <% } %>
              <% if(perdetails!==undefined )
               {%>
              <td> <%= perdetails.percentage%>% </td>
              <% } else { %>
                <td><h5 class="display-1">percentage</h5></td>
                <% } %>
              <% if(perdetails3!==undefined )
              {%>
              <td> <%= perdetails3.board%></td>
              <% } else { %>
                <td><h5 class="display-1">board</h5></td>
                <% } %>
            </tr>
            <% } %>
 
          </tbody>
        </table>
      </div>


      <div class="bs-callout bs-callout-danger">
        <h4>Skills</h4>
        <table class="table table-striped table-responsive ">
          <thead>
            <tr><th>Skill type</th>
            <th>Skill name</th>
            <th>Verified</th>
            
          </tr></thead>
          <tbody>
            <% for(var i in perdetails15) { %>
            <tr>
                <% if(perdetails15!==undefined )
                {%>
              <td><%= perdetails15[i].skill_type %></td>
              <% } else { %>
                <td><h5 class="display-1">skill</h5></td>
                <% } %>
              <% if(perdetails15!==undefined )
              {%>
              <td><%= perdetails15[i].skill_name %></td>
              <% } else { %>
                <td><h5 class="display-1">skill</h5></td>
                <% } %>
              <% if(perdetails15!==undefined )
              {%>
              <td><%= perdetails15[i].verified %></td>
              <% } else { %>
                <td><h5 class="display-1">verify</h5></td>
                <% } %>
            </tr>
            <% } %>
            </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
</div>

</div>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/scripts/lib/header.js"></script>
<% include footer.html %>
</div>
</div>
</body>
</html>
