<!Doctype html>
<html>
<title>Home Page</title>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/styles/home/header.css">    
<link rel="stylesheet" href="/static/styles/home/design.css">  
</head>
<body>
        <div class="wrapper">
                <% include header.html %> 
          <div class="main">
          </div>

                              
    
    <div class="name" style="float:right;">
        <h1>Hi.. <%=namedetails.name%></h1>

        <button class="btn btn-primary btn-lg " onclick="" type="button">
                        Post Event</button>
                        </button>
                        <button class="btn btn-primary btn-lg "onclick"" type="button">
                        Certificate</button>
                        </button>
</div>


<section class="backgroundimage"> 
    <% include searchbar.html %> 
 </section>
 <section class="color">

        <div class="container">
            <h1>Why GrepSkill ?</h1>
            <p>
    I have a busy schedule...how will I know about activities going inside the campus?
    <br/>
    GrepSkill aims to provide a comman platform to all students of GLA University.You will achieve what you should, based on your skill or talent. Participants for the events, workshops etc will be selected on the basis of the skills they have.
    This way, events will be more fruitfull to learn from.
    </p>
            <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <h3>Benefits For Students</h3>
                            <p><span class="glyphicon glyphicon-certificate "></span>Learn Skills To Better Your Carrer<br/>
                                    <span class="glyphicon glyphicon-certificate "></span>Interaction With Others<br/>
                                    <span class="glyphicon glyphicon-certificate "></span>Make Attractive Resume</p>
                    
                            
                    </div>
                    <div class="col-lg-2 col-md-2">
    
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <h3>Activities</h3>
                            
                    <p> <span class="glyphicon glyphicon-certificate "></span> Student Of The Semester<br/>
                     <span class="glyphicon glyphicon-certificate "></span> Coder Of The Semester<br/>
                     <span class="glyphicon glyphicon-certificate "></span> University Merit Holders<br/></p>
                    </div>
                    
                            
            </div>
        </div>
     </section>
    
    

     <section>
            <div class="container">
                <h1>Nominees:</h1><center><h3>Student Of The Semester</h3></center>
                <br><br>
        
                <!--  TOP 3 STUDENTS   -->
        
        <div class="container-fluid">             
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">       
                  <img class="image" src="/<%= top5List[1].photo%>" alt="photo"> 
                  <div class="lower-content">
                  <h2><a href="#"><b><%= top5List[1].name %></b></a></h2>       
                  <div class="text"><%= top5List[1].university_id %><br/><%= top5List[1].phone %><br/><%= top5List[1].email_id %></div>
                  </div>
           </div>  
           <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" >       
                   <img class="image" src="/<%= top5List[2].photo%>" alt="photo">   
                   <div class="lower-content">
                    <h2><a href="#"><b><%= top5List[2].name %></b></a></h2>       
                    <div class="text"><%= top5List[2].university_id %><br/><%= top5List[2].phone %><br/><%= top5List[2].email_id %></div>
                   </div>
            </div> 
           <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">       
                    <img class="image" src="/<%= top5List[3].photo%>" alt="photo">   
                    <div class="lower-content">
                    <h2><a href="#"><b><%= top5List[3].name %></b></a></h2>       
                    <div class="text"><%= top5List[3].university_id %><br/><%= top5List[3].phone %><br/><%= top5List[3].email_id %></div>
                    </div> 
           </div>  
        
        </div>
        </div>
        
        
           </div>
        </section>
    
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/scripts/home/autocomplete.js"></script>
<script type="text/javascript" src="/static/scripts/lib/header.js"></script>

<% include footer.html %>
</div>
</body>
</html>
