<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from https://bootdey.com  -->
    <!--  All snippets are MIT license https://bootdey.com/license -->
    <title>Update details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel ="stylesheet" href="/static/styles/update/style.css">
    <link rel="stylesheet" href="/static/styles/home/header.css">  
</head>
<body>
  <% include header.html %>
<center>
<div class="container" id="page">
<div class="row">
  <div class="col-xs-12 col-sm-9">
  <form action="/app/update" method="post" class="form-horizontal" enctype="multipart/form-data">
        
        <div class="panel panel-default">
            <div class="panel-heading">
            <h4 class="panel-title">Photo Details</h4>
            </div>
            <div class="panel-body">
                <img src="/<%= photodetails.photo%>" class="img-circle profile-avatar" alt="photo">
                <input type="file" name= "imgname" class="form-control">
                
                 </div>
              </div>
          
    


      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">Personal Details</h4>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">University rollno</label>
            <div class="col-sm-10">
              
              <input type="text" value="<%= perdetails3.university_id%>" class="form-control" readonly>
            </div>
            
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <% if(perdetails5!==null )
                {%>
                  <input type="text" name= "rname" value="<%= perdetails5.name %>" class="form-control" required >
                  <% } else { %>
                  <h5 class="display-1">name</h5>
                  <% } %>
             
            </div>
          </div>
          <div class="form-group">

            <label class="col-sm-2 control-label">Email Id</label>
            <div class="col-sm-10">
                <% if(perdetails4!==null )
                {%>
                  <input type="text" name ="remail" value="<%= perdetails4.email_id %>" class="form-control">
                  <% } else { %>
                  <h5 class="display-1">Email-Id</h5>
                  <% } %>

             </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
              
                <% if(perdetails6!==null )
                {%>
                  <input type="text" name ="rphone" value="<%= perdetails6.phone %>" class="form-control" >
                  <% } else { %>
                  <h5 class="display-1">phone</h5>
                  <% } %>
             </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">Educational Details</h4>
        </div>
        <div class="container-fluid">
  
  

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">10th Standard</a></li>
    <li><a data-toggle="tab" href="#menu1">12th Standard</a></li>
    <li><a data-toggle="tab" href="#menu3">Graduation</a></li>
    
  </ul>



<!-- 10 -->




<div class="tab-content">
    <div id="home" class="container-fluid tab-pane fade in active">
    	<div class="panel-body">
    	<div class="row">
          <h3 class="panel-title">10th Standard</h3><br>
      </div>
     <div class="row">
           
            <label class="col-sm-2 control-label">%Age</label>
            <div class="col-sm-4">
              
                <% if(perdetails!==null )
                {%>
                  <input type="tel" name="percentage" value="<%= perdetails.percentage %>"  class="form-control">
                  
                  <% } else { %>
                    <input type="tel" name="percentage" value="percentage"  class="form-control">
                     <% } %>
             
             </div>
         
            <label class="col-sm-2 control-label">Board</label>
            <div class="col-sm-4">
              
                <% if(perdetails7!==null )
                {%>
                  <input type="tel" name="board" value="<%= perdetails7.board %>" class="form-control">
                  <% } else { %>
                  
                    <input type="tel" name="board" value="Board"  class="form-control">
                  <% } %>
             
             </div>
             
      </div>
      <br>
      <div class="row">
           
             <label class="col-sm-2 control-label">Year</label>
            <div class="col-sm-4">
                <% if(perdetails10!==null )
                {%>
                  <input type="tel" name="passing_year" value="<%= perdetails10.passing_year %>"  class="form-control">
                  <% } else { %>
                    <input type="tel" name="passing_year" value="year"  class="form-control">
                    <% } %>
              
             
            </div>

            <label class="col-sm-2 control-label">Report Card</label>
            <div class="col-sm-4">
             <input type="file" name="img10">
            </div>

         </div>
     </div>
    </div>


<!-- 12 -->


    <div id="menu1" class="tab-pane fade">
      <div class="panel-body">
          <h3 class="panel-title">12th Standard</h3><br>
          <div class="form-group">
            
           
            <label class="col-sm-2 control-label">%Age</label>
            <div class="col-sm-4">
                <% if(perdetails1!==null )
                {%>
                  <input name="percentage1" type="tel" value="<%= perdetails1.percentage %>" class="form-control">
                  <% } else { %>
                    <input type="tel" name="percentage1" value="percentage"  class="form-control">
                     <% } %>
              
               </div>
            <label class="col-sm-2 control-label">Board</label>
            <div class="col-sm-4">
              
                <% if(perdetails8!==null )
                {%>
                  <input name="board1" type="tel" value="<%= perdetails8.board %>" class="form-control">
                  <% } else { %>

                    <input type="tel" name="board1" value="Board"  class="form-control">                  <% } %>
               </div>
             
          </div>
          <div class="form-group">
            
           
            
             <label class="col-sm-2 control-label">Year</label>
            <div class="col-sm-4">
              
                <% if(perdetails11!==null )
                {%>
                  <input name="passing_year1" type="tel" value="<%= perdetails11.passing_year %>" class="form-control">
                  <% } else { %>
                    <input type="tel" name="passing_year1" value="year"  class="form-control">
                  <% } %>
              
            </div>
            <label class="col-sm-2 control-label">Report Card</label>
            <div class="col-sm-4">
                <input type="file" name="img12">
            
            </div>
          </div>
         </div>
    </div>
    
 </div>
 
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">Technical / Professional Skills</h4>
        </div>

        <div class="panel-body" id="skillPanel">
          <% for(var i in perdetails13) { %>
          <div class="form-group">
            <label class="col-sm-1 control-label">Skill type</label>
            <div class="col-sm-3">
             <select >
    <option value=" Programming Language"> Programming Language</option>
    <option value="Hardware and Software ">Hardware and Software </option>
    <option value=" Technology ">Technology</option>
    <option value=" Management ">Management</option>
    <option value="Bio Science">Bio Science</option>
    <option value="Art and Humanities">Art and Humanities</option>
    <option value="Game">Game</option>
    <option value="Artist">Artist</option>
  </select>
            </div>
            <label class="col-sm-1 control-label">Skill name</label>
            <div class="col-sm-3">
              
                <% if(perdetails13!==null)
                {%>
                  <input type="text" value="<%= perdetails13[i].skill_name%>" class="form-control" readonly>
                  <% } else { %>
                  <h5 class="display-1">skill</h5>
                  <% } %>
             </div>
            <label class="col-sm-1 control-label">Verified</label>
            <div class="col-sm-3">
              <input type="text"  name ="" value="<%= perdetails13[i].verified%>" class="form-control" readonly>
            </div>
          </div><% } %>
          
        </div>
        <a class="btn" id="skill">Add More...</a>
          <script>
            $('#skill').click(function(){
              var new_form = ' <div class="form-group"><label class="col-sm-1 control-label">Skill type</label><div class="col-sm-3"><select><option value=" Programming Language"> Programming Language</option><option value="Hardware and Software ">Hardware and Software </option><option value=" Technology ">Technology</option><option value=" Management ">Management</option><option value="Bio Science">Bio Science</option><option value="Art and Humanities">Art and Humanities</option><option value="Game">Game</option><option value="Artist">Artist</option></select></div><label class="col-sm-1 control-label">Skill name</label><div class="col-sm-3"><input type="text" name ="skill" class="form-control"></div><label class="col-sm-1 control-label">Verified</label><div class="col-sm-3"><class="form-control"></div></div>';
        $('#skillPanel').append(new_form);
        $('#skill').hide();
            });
          </script>
      </div>
      <input type="submit" value="Submit">
    </form>
    </div>
  </div>
</div>
</div>
</center>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript" src="/static/scripts/lib/header.js"></script>
<% include footer.html %>
</body>
</html>