  .wrapper {
    width: 100%;
    margin: 0 auto; }

    .container {
      width: 100%;
      margin: 0 auto;
      padding: 0 30px;
    }
    .down{
      overflow:scroll;
    }
    ::-webkit-scrollbar{
      width:0px;
      background: transparent;
    }
    
/* SECTIONS */

            section {
              padding: -10px 0; 
            }
              section h1{
                font-family: 'Englebert', sans-serif;
                font-size: 60px;
                font-weight: 100;
                margin-bottom: 10px; }
                section h3{
                  font-family: 'Englebert', sans-serif;
                  font-size: 40px;
                  font-weight: 100;
                  margin-bottom: 10px; }
              section p {
                font-family: 'Montserrat', sans-serif ;
                font-size: 24px;
                font-weight: 150px ;
                margin-bottom: 30px;
               }
                section p:last-child {
                  margin-bottom: 0; }
              section.color {
                font-family: 'Montserrat', sans-serif ;
               font-size: 24px;
               font-weight: 150px ;
                background-color: #4771a1;
                color: whitesmoke;
              }
              .backgroundimage{
                background-image: url(/static/images/36.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
            /*.backgroundim{
              opacity:0.8;
              background-image: url(/static/images/36.jpg);
              background-position: center center;
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
          }
          */
              
          
           /* NOMINEE's PICS  */
 .image {
  width: 200px;
  height: 200px;
  border-radius: 150px !important;
 
}
