@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 80px;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #0683c9;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
  header h1#logo {
    display: inline-block;
    height: 50px;
    float: left;
    padding-left: 10px;
    font-family: 'Fredericka the Great', cursive;
    font-size:55px;
    color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
  }
  header nav {
    display: inline-block;
    float: right;
    padding-top: 20px;
  }
    header nav a {
      line-height: 150px;
      margin-left: 20px;
      color:white;
      font-size: 1vw;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      header nav a:hover {
        color: white; }
  
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }
  
@media all and (max-width: 660px) {
  header {
    width: 100%;
    height: 125px;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #0683c9;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
  }
  header h1#logo {
    display: block;
    float: none;
    font-size: 45px;
    height: 25px;
    text-align: center;
  }
  header nav {
    display: block;
    float: none;
    height: 15px;
    text-align: center;
    margin: 0 auto; 
  }
    header nav a {
      line-height: 10px;
      margin: 0 10px; 
    }
        
@media all and (max-width: 600px) {
  .container {
    width: 100%; }
  }}