@media screen and (max-width:20px) {
 .modal-dialog {
          width: 370px;
          height:600px;
        }}
    

.modal-content {
    /* 80% of window height */
    height: 70%;
    background-color:#FFFAF0;
}        
.modal-header {
    background-color: #0683c9;
    padding:16px 16px;
    color :white    ;
}
